.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

//VARIABLES

//Colors

//Primary
//Text
$dark-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);

//Background Gradient
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

//Neutral
//Text
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);

//Dividers
$light-grayish-blue: hsl(240, 5%, 91%);

//font size: 12 px;
//font family: [Kumbh Sans]
// Weights: 400, 700.

@import "general";
@import "mobile";
@import "desktop";
